# copy this file to "config" and change values

# System administrator's phone
PHONE=79000000000

# https://sms.ru API token
SMSRU_API_ID=00000000-0000-0000-0000-000000000000

# Sender's phone
PHONE_FROM=70000000000

# Config Archives of backups
# See README.md

# String with space separated names of VMs to backup weekly
VMS_TO_BACKUP=""

# String with space separated names of hypervisor hosts
HYPERVISORS=""

# Array of gpg pub keys ids or emails to cypher backup
# Key names (with spaces) breakes script.
RECIPIENTS=("user1@firm.com" "user2@firm.org")
