# copy this file to "config" and change values

# System administrator's phone
PHONE=79000000000

# https://sms.ru API token
SMSRU_API_ID=00000000-0000-0000-0000-000000000000

# Sender's phone
PHONE_FROM=70000000000

# System administartor email
ADMIN_EMAIL="admin@firm.org""

# Config Archives of backups
# See README.md

# Choose between zstd and true
COMPRESS_METHOD=zstd

# String with space separated names of VMs to backup weekly
VMS_TO_BACKUP=""

# String with space separated names of hypervisor hosts
HYPERVISORS=""

# Array of gpg pub keys ids or emails to cypher backup
# Key names (with spaces) breakes script.
RECIPIENTS=("user1@firm.com" "user2@firm.org")

# IP address and port used in netcat pipe in scripts nc-send-group and nc-receive-group
NETCAT_ADDR="127.0.0.1"
NETCAT_PORT="8080"

